#!/usr/bin/make -f

export CARGO_NET_OFFLINE = true
export KDSKILLHUB_DEFAULT_TOKEN ?=

%:
	dh $@

override_dh_auto_build:
	cargo build --release --locked --offline

override_dh_auto_test:
	cargo test --release --locked --offline

override_dh_auto_install:
	install -Dm755 target/release/skillmux debian/skillmux/usr/bin/skillmux
